<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script>
        function validarCodigo(event) {
            const codigo = document.getElementById('codigo').value;
            const codigoCorreto = document.getElementById('formulario').dataset.codigo;

            if (codigo !== codigoCorreto) {
                event.preventDefault();
                alert('Código incorreto! Por favor, tente novamente.');
            }
        }
    </script>
</head>
<body class="d-flex justify-content-center align-items-center vh-100 bg-light">
<div class="card p-4 shadow" style="width: 400px;">
    <h1 class="text-center mb-3">Formulário de Nome</h1>
    <p class="text-center" th:text="'Digite o código: '+${senha}"></p>
    <form id="formulario" th:action="@{/menu}" method="get" onsubmit="validarCodigo(event)" th:data-codigo="${senha}">
        <div class="mb-3">
            <input type="text" id="nome" name="nome" class="form-control" placeholder="Nome" required />
        </div>
        <div class="mb-3">
            <input type="text" id="codigo" name="codigo" class="form-control" placeholder="Código" />
        </div>
        <button type="submit" class="btn btn-primary w-100">Enviar</button>
    </form>
</div>
<!-- Bootstrap JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
